<div class="add-book-form">
  <form [formGroup]="addGenreForm" (ngSubmit)="addGenre()">
    <mat-card>
      <mat-toolbar color="primary" class="add-book-toolbar">
        <span>Add Genre Details</span>
        <span class="spacer"></span>
        <mat-icon (click)="onNoClick()" class="closeBtn">close</mat-icon>
      </mat-toolbar>
      <mat-dialog-content class="formfields">
        <mat-form-field class="form-field">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            placeholder="Name"
            formControlName="name"
          />
          @if(addGenreForm.get('name')?.invalid){
          <mat-error>{{ getErrorMessage("name") }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Icon</mat-label>
          <mat-select formControlName="icon">
            @for(i of materialIcons; track $index){
            <mat-option [value]="i">{{ i }}</mat-option>
            }
          </mat-select>
          @if(addGenreForm.get('icon')?.invalid){
          <mat-error>{{ getErrorMessage("icon") }}</mat-error>
          }
        </mat-form-field>
      </mat-dialog-content>
      @if(message){
      <button type="button" mat-raised-button class="success">
        {{ message }}
      </button>
      }
      <mat-dialog-actions>
        <button mat-button type="submit">Add</button>
      </mat-dialog-actions>
    </mat-card>
  </form>
</div>
