
mat-sidenav-content{
    display: flex;
  }
  .card {
    width: 150px;
    height: 150px;
    margin: 20px;
    // overflow: hidden;
  }
.main{
  display: flex;
  flex-wrap: wrap;
}
 
  .abc{
    margin-right: 10px;
  }
  .content {
    display: flex;
    // flex-direction: row;
    height: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
  }
  
.genres-container{
  height: 200px;
  width: 200px
}


mat-card-header{
  display: inline-grid;
}